@use "variables" as v;

/** Media Queries **/
@mixin telefono {
  @media (min-width: v.$telefono) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: v.$tablet) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: v.$desktop) {
    @content;
  }
}

@mixin botonClaro($bgColor,$gradoBg, $colorTexto,$gradoTexto) {
  background-color: $bgColor;
  color: $colorTexto;
  display: inline-block;
  border: none;
  transition-property: background-color;
  transition-duration: 0.3s;
  text-align: center;
  display: block;
  @include tablet {
    width: auto;
  }
  &:hover {
    p{
        color: lighten($colorTexto,$gradoTexto);
    }
    background-color: darken($bgColor,$gradoBg);
    cursor: pointer;
  }
}

@mixin botonOscuro($bgColor,$gradoBg, $colorTexto, $gradoTexto) {
    background-color: $bgColor;
    color: $colorTexto;
    display: inline-block;
    border: none;
    transition-property: background-color;
    transition-duration: 0.3s;
    text-align: center;
    display: block;
    @include tablet {
        width: auto;
    }
    &:hover {
        p{
            color: lighten($colorTexto,$gradoTexto);
        }
        background-color: darken($bgColor, $gradoBg);
      cursor: pointer;
    }
  }

@mixin grid($columnas, $espaciado) {
  display: grid;
  gap: $espaciado;
  grid-template-columns: repeat($columnas, 1fr);
}

@mixin button-outline-variant(
  $color,
  $color-hover: color-contrast($color),
  $active-background: $color,
  $active-border: $color,
  $active-color: color-contrast($active-background)
) {
  color: black !important;
  border-color: $color;

  &:hover {
    color: black !important;
    background-color: $active-background;
    border-color: $active-border;
  }
}
