
@use 'base/mixins' as m;

.widthCarpeta {
  min-width: 100px;
  height: 100px;
}

.padreCarpeta {
  position: relative;
}

.botonesCarpeta {
  position: absolute;
  top: 15px;
  right: 15px;
 &:hover{
    .botonCarpeta{
        color: black !important;
    }
 }
}

.dropdown-toggle:after {
  display: none !important;
}

.noVisible {
  visibility: hidden;
}

.puntero {
  cursor: pointer;
}

.botonCustom-white{
    font-weight: bold;
    @include m.botonClaro(#a4a6a8,20, #212529,10);

}

.botonCustom-light{
    font-weight: bold;
    @include m.botonClaro(#e7e9eb,20, #212529,90);

}

.botonCustom-dark{
    font-weight: bold;
    @include m.botonOscuro(#e7e9eb,40, #212529,90);
}

.hoverCarpeta-dark{
    &:hover{
        .elip{
            color: white !important;
        }
      }
}
.hoverCarpeta-light{
    &:hover{
        .elip{
            color: black !important;
        }
      }
}

.hoverCarpeta-white{
    &:hover{
        .elip{
            color: black !important;
        }
      }
}

.bordeContenedor{
    border:0px !important;
    border-top:1px solid !important;
    border-radius: 0px;
}
